@import "bourbon/bourbon";
@import "neat/neat";
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,700);

$orange : #E67E22;
$blue : #3498DB;
$green1 : #E8F5E9;
$green2 : #A6D5A9;
$green3 : #77BF7B;
$white : #FAFAFA;
$grey : #E6E6E6;
$darkgrey : #707070;
$bluegrey: #95A5A5;

$max-width: em(2000);

@mixin material-shadow($shadows...) {
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
}
body{
	margin-top: 75px;
	margin-left:0px;
	background: $bluegrey;
	font: {
    	family: 'Roboto Slab', serif;
    	size: 1em;
    	weight: 300;
  	}
}

h1{
	font: {
		family: 'Lato', san-serif;
		weight: bold;
	}
}


.nav{
	@include material-shadow();
	min-height:75px;
	background-color:$grey;
	text-align: center;
	width: 100%;
	position: fixed;
	z-index:10;
   	top: 0;
	margin-bottom:1em;
	.logo{
		float:left;
		background-image: url('../images/hm-logo-2.png');
		background-size:100%;
		background-repeat: no-repeat;
		height:75px;
		width:1px;
	}
	.active{
			position:absolute;
			min-height:75px;
			padding-bottom:1%;
			width:70px;
			margin-left:28px;
			background-color: $green1;
			@include transition(all 1s);
		}
	.links{
   		white-space: nowrap;
		float: right;

		ul{
			list-style: none;
			li{
				margin-left: -4px;
				position: relative;
				display: inline;
				line-height: 60px;
				margin-right: 16px;
				float: left;
			}
		}
	}
}

.container{
	@include fill-parent();
	@include row(table);
	.content{
		h1{
			text-align:center;
		}
		.col-2{
			@include span-columns(5);
			@include pad();
		}

		.row{
			@include row();
			@include pad(5%);
		}
		.col-3{
			@include span-columns(4);
			@include pad(1%);
			height:192px;


			figure {
			  position: relative;
			  border-radius: 100px;
			  float: left;
			  overflow: hidden;
			  margin: 10px 1%;

			   height:192px;
			    width:192px;
			  text-align: center;
			  cursor: pointer;

			  .item{
					height:192px;
					width:192px;
					@include material-shadow();
					border-radius: 100px;
					background-position:50% 50%;
					background-repeat:no-repeat;
					background-size:200%;
					margin-left:auto;
					margin-right:auto;
					&.livecode{
						background-image: url('../images/livecode.png');
					}
					&.michtime{
						background-image: url('../images/michigantime.png');
					}
					&.recipe{
						background-image: url('../images/recipebox.png');
					}
					&.fixey{
						background-image: url('../images/fixey.png');
					}
					&.stockbot{
						background-image: url('../images/stockbot.png');
					}
					&.tripme{
						background-image: url('../images/tripme.png');
					}
				}
			  figcaption {
			    padding: 2em;
			    border-radius:100px;
			    height:192px;
			    width:192px;
			    text-transform: uppercase;
			    font-size: 1.25em;
			    -webkit-backface-visibility: hidden;
			    backface-visibility: hidden;
			    &::before, &::after {
			      pointer-events: none;
			    }
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    > a {
			      position: absolute;
			      top: 0;
			      left: 0;
			      width: 100%;
			      height: 100%;
			      z-index: 1000;
			      text-indent: 200%;
			      white-space: nowrap;
			      font-size: 0;
			      opacity: 0;
			    }
			  }

			  p {
			    margin: 0;
			    color: black;
			    letter-spacing: 1px;
			    font-size: 68.5%;
			  }
			}
		}

		@include pad(3%);
		@include material-shadow();
		height:auto;
		overflow:hidden;
		margin: 1em 1em 0em 1em;
		border-radius: 5px;
		background: $white
	}
}



/*---------------*/
/***** Timeline *****/
/*---------------*/

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    left: 50%;
    margin-left: -1.5px;
    background: #505050;
    background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
    background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
    background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
    background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
    background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
    z-index: 5;
  }
  > li {
    margin-bottom: 20px;
    position: relative;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    > {
      .timeline-panel {
        width: 46%;
        float: left;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 20px;
        position: relative;
        @include material-shadow();
        &:before {
          position: absolute;
          top: 26px;
          right: -15px;
          display: inline-block;
          border-top: 15px solid transparent;
          border-left: 15px solid #ccc;
          border-right: 0 solid #ccc;
          border-bottom: 15px solid transparent;
          content: " ";
        }
        &:after {
          position: absolute;
          top: 27px;
          right: -14px;
          display: inline-block;
          border-top: 14px solid transparent;
          border-left: 14px solid #fff;
          border-right: 0 solid #fff;
          border-bottom: 14px solid transparent;
          content: " ";
        }
      }
      .timeline-badge {
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -25px;
        background-color: $green1;
        z-index: 5;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
      }
    }
    &.timeline-inverted > .timeline-panel {
      float: right;
      &:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }
      &:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }
  }
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body{
  text-align:center;
  p, ul {
    margin-bottom: 0;
  }
  p + p {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  ul.timeline {
    &:before {
      left: 40px;
    }
    > li > {
      .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
      }
      .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
      }
      .timeline-panel {
        float: right;
        &:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }
        &:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }
      }
    }
  }
}

/*---------------*/
/***** Projects *****/
/*---------------*/

figure.effect-zoe {
  figcaption {
    top: auto;
    bottom: 0;
    padding: 1em;
    font-weight: 700;
    height: 3.75em;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  h2 {
    float: left;
  }
  p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: .5em;
  }
  &:hover p.icon-links a {
    &:hover, &:focus {
      color: #252d31;
    }
  }
  p.description {
    position: absolute;
    bottom: 8em;
    padding: 2em;
    color: #fff;
    text-transform: none;
    font-size: 90%;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden;
    /* Fix for Chrome 37.0.2062.120 (Mac) */
  }
  h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
  }
  p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    span::before {
      display: inline-block;
      padding: 8px 10px;
      font-family: 'feathericons';
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

.icon-eye::before {
  content: '\e000';
}

.icon-paper-clip::before {
  content: '\e001';
}

.icon-heart::before {
  content: '\e024';
}

figure.effect-zoe {
  h2 {
    display: inline-block;
  }
  &:hover {
    p.description {
      opacity: 1;
    }
    figcaption, h2, p.icon-links a {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    h2 {
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
    }
    p.icon-links a {
      &:nth-child(3) {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
      }
      &:nth-child(2) {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
      }
      &:first-child {
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
      }
    }
  }
}





